{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_content %}
    <div class="text-center py-12">
        <h1 class="text-3xl font-bold mb-4">Bienvenue sur le backoffice !</h1>
        <p class="text-lg text-gray-700">Utilisez le menu à gauche pour gérer les utilisateurs, articles et commentaires.</p>
    </div>
{% endblock %}
