{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block content %}
    <h2>Articles</h2>
    <ul>
        {% for article in articles %}
            <li>
                <strong>{{ article.title }}</strong><br>
                {{ article.content }}<br>
                <em>Publié le {{ article.createdAt|date('d/m/Y H:i') }}</em>
            </li>
        {% else %}
            <li>Aucun article trouvé.</li>
        {% endfor %}
    </ul>
{% endblock %}
